services:
  backend:
    build: ./backend
    container_name: nexus-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/data:/app/data
    env_file:
      - ./backend/.env
    restart: always

  # add FE later